@model ProductViewModel

<form class="mt-3" method="post">
    <div class="container-fluid">
        <h1 class="text-primary text-center mb-4">Добавяне на продукт</h1>

        @*Въвеждане на продуктов номер*@
        <div class="row">
            <div class="col-sm-2">
                <label>Продуктов номер:</label>
            </div>
            @Html.ValidationSummary(true)
            <div class="col-sm-6">
                <input id="prodOrderNumber" class="form-control" placeholder="Продуктов номер..."
                       asp-for="@Model.OrderNumber">
                @Html.ValidationMessageFor(model => model.OrderNumber)
            </div>
        </div>
        @*Въвеждане на начин на ценообразуване*@
        <div class="row mt-3">
            <div class="col-sm-2">
                <label>Ценообразуване:</label>
            </div>
            <div class="col-sm-6">
                <input type="radio" value="За 1 л. м." checked="checked" id="perMeter" asp-for="@Model.PriceUnit" />
                <label>За 1 л. м.</label>
                <input class="ml-3" type="radio" value="За 1бр." id="perItem" asp-for="@Model.PriceUnit" />
                <label>За 1бр.</label>
            </div>
        </div>
        @*Въвеждане на цена*@
        <div class="row">
            <div class="col-sm-2">
                <label>Цена:</label>
            </div>
            <div class="col-sm-6">
                <input id="prodPrice" class="form-control" placeholder="Цена.."
                       asp-for="@Model.Price">
            </div>
        </div>
        @*Въвеждане на категория*@
        <div class="row mt-2">
            <div class="col-sm-2">
                <label>Категория:</label>
            </div>
            <div class="dropdown col-sm-2">
                <input id="btnSelectCategory" style="width:200px;" class="btn btn-success dropdown-toggle" data-toggle="dropdown" readonly="readonly"
                       value="Профили" asp-for="@Model.Category" />
                <div class="dropdown-menu">
                    <a class="dropdown-item">Профили</a>
                    <a class="dropdown-item">Сглобки</a>
                    <a class="dropdown-item">Линейни задвижвания</a>
                    <a class="dropdown-item">Аксесоари</a>
                </div>
            </div>
        </div>
        @*Въвеждане на описание за продукта*@
        <div class="row mt-2 mb-2">
            <div class="col-sm-2">
                <label>Описание:</label>
            </div>
            <div class="col-sm-6">
                <textarea rows="5" cols="50" id="prodDescr" class="form-control" placeholder="Описание.."
                       asp-for="@Model.Description"></textarea>
            </div>
        </div>

        <div class="wrapper">
            <a onclick="WriteProductModel(0, '/products/addproduct')" class="btn btn-primary form-control" style="width:200px;">Добави продукт</a>
        </div>

    </div>
</form>

<script type="text/javascript">
    // Get the value of the dropdown item
    $(".dropdown-menu a").click(function()
    {
        var x = $(this).text();
        document.getElementById("btnSelectCategory").value = x;
    });

    function ValidationInput(tbId)
    {
        if (document.getElementById(tbId).value == '')
        {
            document.getElementById(tbId).style.borderColor = '#ff0000';
            return false;
        }
        
        document.getElementById(tbId).style.borderColor = '#ced4da';
        return true;
    }

    function WriteProductModel(id, url)
    {
        if (!ValidationInput('prodOrderNumber') || !ValidationInput('prodPrice'))
        {
            return;
        }

        var priceUnit;
        if (document.getElementById('perMeter').checked)
        {
            priceUnit = document.getElementById('perMeter').value;
        }
        if (document.getElementById('perItem').checked)
        {
            priceUnit = document.getElementById('perItem').value;
        }

        var product = { id: id, orderNumber: "", priceUnit: "", price: 0, category: "", description: "" }

        product.id = id;
        product.orderNumber = document.getElementById('prodOrderNumber').value;
        product.priceUnit = priceUnit;
        product.price = parseFloat(document.getElementById('prodPrice').value);
        product.category = document.getElementById('btnSelectCategory').value;
        product.description = document.getElementById('prodDescr').value;

        var productStringified = JSON.stringify(product);

        $.ajax({
            url: "/products/addproduct",
            type: "POST",
            contentType: "application/json",
            data: productStringified,
            traditional: true,
            success: RedirectTo,
        });
    }

    // Redirect to another page
    function RedirectTo(res)
    {
        window.location.href = res.newUrl;
    }

</script>
